body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.75px;
    font-size: 18px;
    color: #09121d;
    max-width: 90%;
    margin-left: 73px;
    background: -webkit-radial-gradient(rgb(22,237, 231), rgb(20,55,90));
    background-image: url('https://raw.githubusercontent.com/RosaBld/progressive-enhancement/main/progressive.jpg') no-repeat;
    background-position: bottom right;
    background-size: cover;
}

p {
    font-family: Serif;
}

h1{
    background-color: rgb(231, 231, 155);
}

.date-author {
    text-align: right;
    margin: 5px;
    font-size: 13px;
}

img {
    float: right;
    border-radius: 5px;
    border: 3px solid #eeeeee;
    border-radius: 3px;
    opacity: 0.8;
}

blockquote {
    width: 50%;
    margin-left: 340px;
    background-color:#eeeeee;
    border: 3px solid #a03623;
    padding: 30px;

}

.first-paragraph {
    font-weight: bold;
}

q {
    font-style: italic;
    font-size: 160%;
    line-height: 80px;
}

q.villagers {
    background-color: #ada7a7;
    border-left: 3px solid #37fd41;
}

q.farmer {
    background-color: #ada7a7;
    border-left: 3px solid #f38b2a;
}

.author {
    text-align: right;
    font-size: 15px;
    margin: 8px;
}

.good {
    text-transform: uppercase;
    color: green;
}

.bad {
    text-transform: uppercase;
    color: red;
}

table {
    border-collapse: collapse;
    width: 40%;
    table-layout: fixed;
    text-align: center;
    border: 3px solid rgb(96, 96, 163);
    }

tr, td, th {
    border: 3px solid rgb(96, 96, 163);
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:nth-child(odd){
    background-color:rgb(185, 185, 185);
}

a {
    color: #470f0f;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #F78C8C;
}

a:visited {
    text-decoration: none;
    color: #550c49;
}

footer {
    margin: 10px;
    margin-top: 30px;
    line-height: 2px;
    font-size: 15px;
    border-top:3px solid #470f0f;
}

p.footer {
    display: inline
}

.notification {
    position: fixed;
    bottom: 0;
    float: right;
    right: 15px;
}